.footer {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  padding: 5px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer p {
  margin: 0;
  font-size: 15px;
  font-family: Arial, sans-serif;
  flex: 1;
  margin-left: 200px;
}

.footer-links {
  display: flex;
  align-items: center; /* Centra los enlaces verticalmente */
  margin-right: 50px;
}

.footer-links a {
  color: #ffffff;
  text-decoration: none;
  font-size: 12px;
  margin: 0 5px;
}

.footer-divider {
  color: #ffffff;
  margin: 0 5px; /* Espacio entre las barras verticales */
}

/* Opcional: Cambia el color y estilo de los enlaces al pasar el cursor sobre ellos */
.footer-links a:hover {
  color: #f0f0f0;
  text-decoration: underline;
}
